/* --------------------------------------------------------
Style Sheet for Sam

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer, Sam Kota
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --color-brand: #ce63eb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active-nav {
  @apply font-bold border-b-2 border-brand;
}

input {
 @apply px-4 py-2 border border-transparent focus:outline-none focus:ring-1 focus:ring-brand text-brand;
}

textarea {
  @apply px-4 py-2 border border-transparent focus:outline-none focus:ring-1 focus:ring-brand text-brand;
}

.button {
  @apply bg-brand px-8 py-4 w-48 text-white rounded shadow-2xl hover:shadow transition-all my-8 hover:cursor-pointer
}

/* Mapbox fix  */
.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
